<!-- Leaflet -->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
 integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
 crossorigin=""/>

<ion-header>
  <app-btn-voltar rota="detalhes-receita" pagina="Postos de Saúde"></app-btn-voltar>
</ion-header>

<ion-content>

  <ion-grid>
		<ion-row>
			<ion-col>
				<div class="ion-text-center">
					<h1>Insira seu CEP</h1>
				</div>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="10" offset="1">
				<form (ngSubmit)="atualizarMapa()">
					<ion-searchbar placeholder="CEP" name="cep" [(ngModel)]="cep"></ion-searchbar>
				</form>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col class="map-container">
				<div id="mapid"></div>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col class="ion-text-center">
				<ion-button [routerLink]="['/lista-postos']" class="ion-margin-top" [disabled]="!temPostos">Ver Detalhes</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
  