.receita-card {
  .receita-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .receita-card-body {
    font-family: monospace;
  }
  .receita-card-actions {
    display: flex; 
    justify-content: flex-end;
  }
}

.no-content {
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
