<ion-header>
  <app-btn-voltar rota="home" pagina="Receitas Gravadas"></app-btn-voltar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment [value]="filtro" (ionChange)="mudarFiltro($event)">
    <ion-segment-button value="todas">
      <ion-label>
        Todas
        <ion-badge color="light">{{ receitas.length }}</ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="validas">
      <ion-label>
        Válidas
        <ion-badge color="light">{{ receitas.length - canceladas }}</ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="canceladas">
      <ion-label>
        Canceladas
        <ion-badge color="light">{{ canceladas }}</ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="loading">
    <ion-card *ngFor="let i of [1,2,3]">
      <ion-card-header>
        <ion-card-subtitle class="receita-card-title">
          <ion-chip>
            <ion-icon name="calendar"></ion-icon>
            <ion-label><ion-skeleton-text animated style="height: 1em; width: 5em;"></ion-skeleton-text></ion-label>
          </ion-chip>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="receita-card-body">
        <ion-text>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <p>
                  <ion-skeleton-text animated style="height: 1em; width: 18em;"></ion-skeleton-text> 
                </p>
                <p>
                  <ion-skeleton-text animated style="height: 1em; width: 12em;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="height: 1em; width: 14em;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="height: 1em; width: 18em;"></ion-skeleton-text>
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <p>
                  <ion-skeleton-text animated style="height: 1em;"></ion-skeleton-text>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ng-container>
  
  <ion-grid class="no-content" *ngIf="(!filtradas || filtradas.length === 0) && !loading" fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="medium" class="ion-text-center">
          <p>Nenhuma receita armazenada</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let receita of filtradas; let i = index" class="receita-card" [color]="receita.cancelled ? 'light': ''">
    <ion-card-header>
      <ion-card-subtitle class="receita-card-title">
        <ion-chip [color]="receita.cancelled ? 'medium' : 'primary'">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>{{ receita.data }}</ion-label>
        </ion-chip>
        <ion-icon size="large" [name]="receita.cancelled ? 'close-circle-outline': 'checkmark-circle-outline'" [color]="receita.cancelled ? 'medium': 'tertiary'"></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="receita-card-body">
      <ion-text [color]="receita.cancelled ? 'medium' : 'dark'">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <p>
                <strong>Emitente: </strong>
                {{ receita.medico.sexo === 'M' ? 'Dr. ' : 'Dra.' }} {{ receita.medico.nome | namecase }} 
              </p>
              <p>
                <strong>Área: </strong>
                {{ receita.medico.especialidade | namecase }}
              </p>
              <p>
                <strong>Entidade: </strong>
                {{ receita.entidade.nome }}
              </p>
              <p>
                <strong>Paciente: </strong>
                {{ receita.paciente.nome }}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>
                <strong>Prescrição: </strong>
                {{ resumoPrescricao(receita) }}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="receita-card-actions">
              <ion-fab-button size="small" color="danger" (click)="remover(receita)">
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
              <ion-fab-button size="small" color="primary" (click)="verDetalhes(receita)">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-text>
    </ion-card-content>
  </ion-card>
  
</ion-content>
  