ion-card{
    align-items: center !important;
    ion-card-header {
       ion-card-title {
        display: flex;
         justify-content: space-between;
        
      }
    }
  }
  

    

    
  

