<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<div style="margin-top: 30%;"> 

<ion-card>
  
  <ion-card>
    
    <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>09/11/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
    
  </ion-card-header>

  <ion-card-content>

    
<ion-label>Dr Paulo Ricardo Dias(oftalmologista)</ion-label><br>
<ion-label>UBS: Alto de Pinheiros</ion-label><br>
<ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>

</ion-card-content>

</ion-card> 
</ion-card> 
 
<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>03/10/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
 </ion-card-header>

   <ion-card-content>
 <ion-label>Dr Jose Nunes (cardiologista)</ion-label><br>
 <ion-label>UBS: Alto de Pinheiros</ion-label><br>
 <ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>
  
 </ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>05/09/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
 </ion-card-header>

   <ion-card-content>
 <ion-label>Dr Luis Fernando da Silva (Neurologista)</ion-label><br>
 <ion-label>UBS: Alto de Pinheiros</ion-label><br>
 <ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>
  
 </ion-card-content>

    <ion-card>
    <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>30/09/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
  </ion-card-header>

  <ion-card-content>
    
<ion-label>Dra Clara Rocha (Endocrinologia)</ion-label><br>
<ion-label>UBS: Alto de Pinheiros</ion-label><br>
<ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>
</ion-card-content>

</ion-card> 

<ion-card>
  <ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title>01/08/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
</ion-card-header>

<ion-card-content>
  
<ion-label>Dr Lucas Roberto Alcantra (Urologista)</ion-label><br>
<ion-label>UBS: Alto de Pinheiros</ion-label><br>
<ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>
</ion-card-content>

</ion-card> 

<ion-card>
  <ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title>23/07/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
</ion-card-header>

<ion-card-content>
  
<ion-label>Dr Paulo Ricardo Dias  (Oftalmologista)</ion-label><br>
<ion-label>UBS: Alto de Pinheiros</ion-label><br>
<ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>
</ion-card-content>

</ion-card>

  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>13/06/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
    
  </ion-card-header>

  <ion-card-content>

    
<ion-label>Dra Clara Rocha  (Endocrinologia)</ion-label><br>
<ion-label>UBS: Alto de Pinheiros</ion-label><br>
<ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>

</ion-card-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>15/05/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
 </ion-card-header>

   <ion-card-content>
 <ion-label>Dr Jose Nunes (cardiologista)</ion-label><br>
 <ion-label>UBS: Alto de Pinheiros</ion-label><br>
 <ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>
  
 </ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>04/04/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
 </ion-card-header>

   <ion-card-content>
 <ion-label>Dr Luis Fernando da Silva (Neurologista)</ion-label><br>
 <ion-label>UBS: Alto de Pinheiros</ion-label><br>
 <ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>
  
 </ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>15/05/2020<ion-button><ion-icon  slot="icon-only" name="star" name="trash-sharp"></ion-icon></ion-button></ion-card-title> 
 </ion-card-header>

   <ion-card-content>
 <ion-label>Dr Jose Nunes (cardiologista)</ion-label><br>
 <ion-label>UBS: Alto de Pinheiros</ion-label><br>
 <ion-label>Medicamentos:Arteméter/lumefantrina, Baloxavir...</ion-label><br>
  
 </ion-card-content>

</ion-card>


</ion-card>
</div>
