<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Buscar Remedios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row style="height: 100%;" class="ion-align-items-center">
    <ion-col size="12">
      <ion-row>
        <ion-col size="12" class="margin-h-auto">
          <div class="btn-qrcode margin-h-auto" (click)="lerQRCode()">
            <img src="../../assets/qrcode.png" alt="qrcode">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" class="margin-h-auto">
          <ion-button (click)="lerQRCode()" expand="block" class="ion-margin-top">
            Ler QRCode
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" class="margin-h-auto">
          <ion-button [routerLink]="['/lista-receitas']" expand="block" color="medium" class="ion-margin-top">
            Ver Receitas
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="display: flex; justify-content: center;">
          <ion-button fill="clear" size="small" [routerLink]="['/lista-receitas']">[Letícia]</ion-button>
          <ion-button fill="clear" size="small" [routerLink]="['/detalhes-receita']">[Caio]</ion-button>
          <ion-button fill="clear" size="small" [routerLink]="['/mapa']">[Pedro]</ion-button>
          <ion-button fill="clear" size="small" [routerLink]="['/lista-postos']">[Álef]</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
