.page-container {
  height: 100%; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  .btn-qrcode {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20px;
    padding: 10px;
  }
  .page-buttons {
    width: 80%;  
  }
}

