<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-avatar slot="start" style="width: 40px; height: 40px;" class="ion-margin-start" (click)="presentActionSheet()">
      <img src="../../assets/pills.png" />
    </ion-avatar>
    <ion-title>
      Buscar Remédios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="page-container">
    <div class="btn-qrcode" (click)="lerQRCode()">
      <img src="../../assets/qrcode.png" alt="qrcode">
    </div>
    <div class="page-buttons">
      <ion-button (click)="lerQRCode()" expand="block" class="ion-margin-top">
        Ler QRCode
      </ion-button>
      <ion-button [routerLink]="['/lista-receitas']" expand="block" color="tertiary" class="ion-margin-top">
        Ver Receitas
      </ion-button>
    </div>
  </div>
</ion-content>
